# Programming Fundamental - 2

### Print statment ( args, end, sep )

In [ ]:
print("Hello World")

Seperator (sep) will fill the space with ever you have given in sep, but only in-between two.

By default, the value of (sep) is single space sep=' '

In [ ]:
print("Hello", "World", "i", "am", "Good", sep='=')

End (end) will fill the end of the output with what you have given.

By defualt, the value of (end) is new line character i.e., (\n).

In [ ]:
print("hello", end='!')

### Multiple Strings, Comments

In [ ]:
s = ''' Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam obcaecati pariatur ipsam aspernatur quaerat, facilisvero commodi inventore animi deleniti exercitationem. Dicta excepturi, illum modi voluptate delectus quod fugit dignissimos assumenda voluptatum omnis? Molestiae laboriosam assumenda reprehenderit vel ducimus, saepe veritatis adipisci qui esse cumque tempore non. Possimus odio rem tenetur, assumenda cum aliquam? Delectus deleniti aut dolore veritatis nostrum quibusdam modi ratione, assumenda dolores beatae dicta, a ducimus, deserunt aspernatur rem. Non aperiam repellendus accusantium omnis fugit id expedita dolorem officiis molestiae vitae voluptas laboriosam maiores quia, quis veritatis tenetur tempora. Optio dicta modi voluptatum dignissimos aliquam magnam libero et. Ullam eaque quia beatae. Voluptates deserunt beatae, ex obcaecati quod quam dolorum praesentium eius temporibus minus consequuntur, adipisci, distinctio corporis similique asperiores. Odio quos beatae nemo consectetur cupidita

te suscipit, vel veritatis expedita qui! Voluptatibus architecto illo, voluptate velit veniam fugiat dolor iure ratione libero ullam sapiente exercitationem rerum a consectetur facilis eius consequuntur alias atque, enim animi saepe adipisci ut. Corporis repellendus illo magni tenetur quae pariatur ab consequuntur. Debitis voluptatibus consequatur, ipsam at earum atque voluptas et aspernatur impedit nesciunt aliquam? Sed hic, saepe quasi consectetur voluptates vero animi provident voluptas molestiae, vitae rerum non ipsa ad neque.
'''

In [ ]:
print(s)

## Multi-line Comment

In [ ]:
'''
This is an example of multi-line comment
'''

# Branching
<li>if</li>
<li>else</li>
<li>elif</li>

## if

In [ ]:
print("Write 'python' ")
a = input("Enter the statement : ")
if(a == "python"):
    print("correct")

## if...else

In [ ]:
age = int(input("Enter the age : "))
if(age >= 18):
    print("Eligible to vote")
else:
    print("Try next time")

## if..elif..else

In [ ]:
print("enter the week number")
week_day = int(input("Enter the number : "))

if(week_day == 1):
    print("Sunday")
elif(week_day == 2):
    print("Monday")
elif(week_day == 3):
    print("Tuesday")
elif(week_day == 4):
    print("Wednesday")
elif(week_day == 5):
    print("Thrusday")
elif(week_day == 6):
    print("Friday")
elif(week_day == 7):
    print("Saturday")
else:
    print("Wrong Input")

## and

In [ ]:
batch = "java"
org = "self"

if(org == "self" and batch == "java"):
    print("Allow")
else:
    print("block")

## or

In [ ]:
batch = "python"
org = "self"

if(org == "self" or batch == "java"):
    print("Allow")
else:
    print("block")

# Loops

### While

In [ ]:
# print the couting from 1 to 10

i = 1
while(i <= 10):
    print(i, end=' ')
    i = i + 1

print the stair case pattern

In [ ]:
i = 1

while( i <= 5):
    print("*" * i)
    i += 1

## Range Method

In [ ]:
# example_1

list(range(5)) # start = 0(Default); end = 5(what is given); increment = 1(Default) 
         # you can change the default statment of you choice
         # range will not include the end, it will include the one less then end

In [ ]:
# example_2

list(range(2,11,3)) # starting from 2 to 11 (11-1) and increment of 3

# For loop

It allows us to loop/iterate over a range

In [ ]:
# print the odd number from 1 to 10

for i in range(1,10,2):
    print(i)

print the cube of all numbers from 10 to 1 (Reverse) -> [9,7,5,3,1]

In [ ]:
for i in range(9,0,-2):
    print(i**3, end=' ')

In [ ]:
for i in "hello":
    print(i)

## sum of digits

In [ ]:
number = int(input("Enter the number : "))
sum = 0
while(number > 0):
    rem = number%10
    sum = sum + rem
    number = number//10
print(sum)

Number pattern

1234

123

12

1

In [ ]:
for i in range(4,0,-1):
    print('\n')
    for j in range(1, i+1):
        print(j,end='')

<h3>printing the pattern</h3>

<pre>
      1

    2 3 2 

  3 4 5 4 3

4 5 6 7 6 5 4 
</pre>

<p>
For free spaces the relation comes out to be 

space = n - i
</p>
From left side, Increasing sequence:  
<pre>
    start -> i 
    end -> 2*i - 1
</pre>

From Right side, Decreasing sequence:
<pre>
    start -> 2*i - 2
    end -> i
</pre>

In [ ]:
n=4
for i in range(1, n+1):
    print("0"*(n-i))
    for j in range(i, 2*i):
            print(j)   

    for j in range(2*i-2,i,-1):
        print(j)
    print("0"*(n-i))